extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue-gray
      h1 Erro
  
    div.w3-light-gray(style="display: flex; justify-content: space-between; align-items: center;")
      h2.w3-margin-left
        b #{message}

      if (message == "Realize a Autenticação" || message == "Formato de ID inválido")
        a(href="/")
          button.w3-button.w3-blue-gray.w3-margin.w3-right Voltar
      else if (message == "Inscrição na UC inválida" || message == "ID de UC não existente")
        a(href="/perfil/"+idUser+"/inscreverUC/?token="+user.token)
          button.w3-button.w3-blue-gray.w3-margin.w3-right Voltar
      else if (message == "ID de aluno inválido")
        a(href="/ucs/"+idUC+"/docente/"+idUser+"/modificarNotas?token="+token)
          button.w3-button.w3-blue-gray.w3-margin.w3-right Voltar
      else if (message == "Aluno não inscrito na UC" || message == "Docente não inscrito na UC" || message == "Erro ao obter os dados da UC")
        a(href="/paginaInicial/"+idUser+"/?token="+token)
          button.w3-button.w3-blue-gray.w3-margin.w3-right Voltar
      else if (token)
        button.w3-button.w3-blue-gray.w3-margin.w3-right(type="button" onclick=`window.location.href='./'+'/?token='+ ${token}`) Voltar
      else
        a(href="/")
          button.w3-button.w3-blue-gray.w3-margin.w3-right Voltar

    footer.w3-container.w3-blue-gray
      h4.w3-center WhiteBoard, Jun 2024 - Powered by 
          a(href="https://www.w3schools.com/w3css/default.asp") w3.css