extends layout 

block content
    .w3-card-4
        header.w3-container.w3-blue-gray
            h1 Nova Aula

        .w3-container
            form.w3-margin-bottom.w3-margin-top(method="POST")
                fieldset.w3-light-gray
                    .w3-section
                        label.w3-text-black(style="font-weight: bold;" for="tipo") Tipo: 
                        select.w3-select.w3-border(name="tipo" id="tipo" required)
                            option(value="T") Teorica
                            option(value="P") Pr치tica
                            option(value="L") Laboratorial

                    .w3-section
                        label.w3-text-black(style="font-weight: bold;" for="data") Data: 
                        input.w3-input.w3-border(type="date" name="data" id="data" required)

                    .w3-section
                        label.w3-text-black(style="font-weight: bold;" for="topicos") Sum치rio: 
                        textarea.w3-input.w3-border(name="topicos" id="topicos" required placeholder="Insira os t칩picos do sum치rio, um por linha")

                button.w3-button.w3-blue-gray.w3-right.w3-margin-top.w3-margin-bottom(type="submit") Submeter

            a(href="/ucs/"+idUC+"/docente/"+idDocente+"?token="+docente.token).w3-left.w3-margin-bottom
                button.w3-button.w3-blue-gray Voltar
                

        footer.w3-container.w3-blue-gray
            h4.w3-center WhiteBoard, Jun 2024 - Powered by 
                a(href="https://www.w3schools.com/w3css/default.asp") w3.css